body {
    font-family: Arial, sans-serif;
    background-color: #398d52;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1{
    font-style: arial;
    color:#022213;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #1a6b1d;
    color: white;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th[colspan="2"] {
    text-align: center;
}